body {
  text-align: center;
  /* background: linear-gradient(rgba(5, 144, 243, 0.1),
  rgba(6, 137, 237, 0.1)),
 url('https://emojipedia-us.s3.amazonaws.com/social/emoji/face-with-tears-of-joy.png');  */
}

#meme-image {
  align-items: center;
}
#collection {
width: 35rem;

display: inline-block;
margin: 1rem;
/* margin-left: 2%;
margin-right: 2%; */
outline: ridge;
outline-color: rgb(255, 0, 0);
outline-width: 10px;
border-radius: 2%;
}

#card {
  width: 22rem;
  border: grey solid 1px;
  display: inline-block;
  margin: 1rem;
}

img {
  max-width:40%;
  height:auto;
  align-items: center;
  
}


h1 {
  color: rgb(236, 10, 10);
}